﻿@model DogoStore.Entities.ViewModel.User.LoginViewModel
@{Layout = null;}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Kullanıcı Girişi - DogoStore.UI</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DogoStore.UI</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </header>

        <div class="container">
            <main role="main" class="pb-3">
                <div class="container text-center">

                    <div class="col-md-4 mx-auto">
                        <h4>Giriş Yap</h4>
                        <form class="form-signin" asp-controller="User" asp-action="Login" method="post">
                            <div asp-validation-summary="All"></div>
                            <label for="inputUserName" class="sr-only">Kullanıcı Adı</label>
                            <input asp-for="UserName" type="text" id="inputUserName" class="form-control mb-2" placeholder="Kullanıcı adı" autofocus="">
                            <label for="inputPassword" class="sr-only">Şifre</label>
                            <input asp-for="Password" type="password" id="inputPassword" class="form-control mb-2" placeholder="Şifre">
                            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Giriş" />
                        </form>

                    </div>

                </div>
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - DogoStore.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    </body>
</html>
