﻿@model DogoStore.Entities.ViewModel.User.RegisterViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">

    <div class="col-md-4 mx-auto">
        <h4>Kayıt Ol</h4>
        <form asp-controller="User" asp-action="Register" method="post" class="form-signin">
            <div asp-validation-summary="All"></div>

            <label for="inputEmail" class="sr-only">Kullanıcı adı</label>
            <input type="text" id="inputEmail" asp-for="UserName" class="form-control mb-2" placeholder="Kullanıcı Adı" required="" autofocus="">
            <label for="inputEmail" class="sr-only">Email adres</label>
            <input type="email" id="inputEmail" asp-for="Email" class="form-control mb-2" placeholder="Email adres" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Şifre</label>
            <input type="password" id="inputPassword" asp-for="Password" class="form-control mb-2" placeholder="Şifre" required="">
            <label for="inputPasswordR" class="sr-only">Şifre Tekrar</label>
            <input type="password" id="inputPasswordR" asp-for="ConfirmedPassword" class="form-control mb-2" placeholder="Şifre Tekrar" required="">
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Kayıt Ol" />

        </form>

    </div>


</div>
