﻿@model IEnumerable<DogoStore.Entities.ViewModel.Product.ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <main role="main" class="pb-3">

            <div class="col-md-12">
                <span class="anchor" id="formUserEdit"></span>
                <!-- form user info -->
                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 class="mb-0">Anasayfa Ürün Listesi</h3>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Ürün adı</th>
                                    <th scope="col">Ürün türü</th>
                                    <th scope="col">Stok sayısı</th>
                                    <th scope="col">Fiyatı</th>
                                    <th scope="col">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @Html.Partial("_ProductList", Model)
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>

