﻿@model DogoStore.Entities.ViewModel.Basket.BasketViewModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <main role="main" class="pb-3">

        <div class="col-md-12">
            <span class="anchor" id="formUserEdit"></span>

            <div class="card">

                <div class="card-header">
                    <h3 class="mb-0">Sepet</h3>
                </div>

                <div class="card-body">

                    <table class="table table-hover shopping-cart-wrap">
                        <thead class="text-muted">
                            <tr>
                                <th scope="col">Ürün Adı</th>
                                <th scope="col" width="120">Adet</th>
                                <th scope="col" width="120">Adet Fiyat</th>
                                <th scope="col" width="120">Toplam Fiyat</th>
                                <th scope="col" width="200" class="text-right">İşlem</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.BasketItemViewModels)
                            {
                                <tr id="tr_@item.BasketItemId">
                                    <td>
                                        <figure class="media">
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate">@item.ProductName</h6>

                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">@item.Amount</var>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">@item.Price</var>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">@item.TotalPrice</var>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <a href="#" class="btn btn-outline-danger removeBasketItem" data-id="@item.BasketItemId"> × Sil</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                    <a href="/Basket/Pay" class="btn btn-success">Ödeme Yap</a>

                </div>

            </div>

        </div>

    </main>
</div>


@section Scripts{

    <script src="~/lib/fontawesome/js/all.min.js"></script>
    <link href="~/lib/sweetalert2/css/sweetalert2.css" rel="stylesheet" />
    <script src="~/lib/sweetalert2/js/sweetalert2.js"></script>
    <script src="~/js/custom-delete.js"></script>
}