﻿@model DogoStore.Entities.ViewModel.Basket.BasketViewModel

@{
    ViewData["Title"] = "Pay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <main role="main" class="pb-3">

        <div class="col-md-12">
            <span class="anchor" id="formUserEdit"></span>

            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Ödeme</h3>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 order-md-2 mb-4">
                            <h4 class="mb-3">Üye Bilgiler</h4>

                            Üye İsim : @Model.UserName

                            <hr class="mb-4">

                            <form class="needs-validation" asp-controller="Basket" asp-action="QuickPay" autocomplete="off">
                                <input type="hidden" asp-for="@Model.BasketId" id="hdnBasketId" />
                                <button class="btn btn-primary btn-lg btn-block" type="submit">Tamamla</button>
                            </form>
                        </div>
                        <div class="col-md-8 order-md-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-muted">Sepetin</span>
                            </h4>
                            <ul class="list-group mb-3">

                                @foreach (var item in Model.BasketItemViewModels)
                                {
                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                                        <div>
                                            <h6 class="my-0">@item.ProductName</h6>
                                        </div>
                                        <span class="text-muted">Adet Fiyat : @item.Price</span>
                                        <span class="text-muted">Adet : @item.Amount</span>
                                        <span class="text-muted">Toplam : @item.TotalPrice</span>

                                    </li>
                                }

                                <li class="list-group-item d-flex justify-content-between">

                                    <span>Ara Toplam</span>
                                    <strong>@Model.SubTotal ₺</strong>
                                </li>

                                <li class="list-group-item d-flex justify-content-between">

                                    <span>Kdv</span>
                                    <strong>@Model.TotalVat ₺</strong>
                                </li>

                                <li class="list-group-item d-flex justify-content-between">

                                    <span>Genel Toplam</span>
                                    <strong>@Model.TotalAmount ₺</strong>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </main>
</div>


