﻿
@{
    ViewData["Title"] = "PayError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <main role="main" class="pb-3">

        <div class="col-md-12">
            <span class="anchor" id="formUserEdit"></span>
            <!-- form user info -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Sipariş Hatalı</h3>
                </div>
                <div class="card-body">

                    <p>Sipariş Numarası : </p><span> @Model.BasketId</span> <br />
                    <p>Üye Adı : </p><span> @Model.UserName</span> <br />
                    <p>Ödeme Tipi : </p><span> @Model.PayTypeName</span> <br />

                    <a href="/" class="btn btn-warning">ANASAYFA</a>
                </div>
            </div>
        </div>
    </main>
</div>


