﻿@model DogoStore.Entities.ViewModel.Basket.PaySuccessViewModel

@{
    ViewData["Title"] = "PaySuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <main role="main" class="pb-3">

        <div class="col-md-12">
            <span class="anchor" id="formUserEdit"></span>
            <!-- form user info -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Sipariş Başarılı Durum</h3>
                </div>
                <div class="card-body">

                    <p>Sipariş Numarası : <span> @Model.BasketId</span></p> <br />
                    <p>Üye Adı : <span> @Model.UserName</span></p> <br />
                    <p>Ödeme Tipi : <span> @Model.PayTypeName</span></p> <br />
                    </br>
                    <a href="/" class="btn btn-success">ANASAYFA</a>

                </div>
            </div>
        </div>
    </main>
</div>

