﻿@model DogoStore.Entities.ViewModel.Product.ProductViewModel

@{
    ViewData["Title"] = "Add Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <main role="main" class="pb-3">

        <div class="col-md-12">
            <span class="anchor" id="formUserEdit"></span>
            <!-- form user info -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Ürün Ekle</h3>
                </div>
                <div class="card-body">

                    <form class="form" asp-controller="Product" asp-action="Add" autocomplete="off">
                        @Html.Partial("_ProductForm", Model)
                    </form>

                </div>
            </div>
            <!-- /form user info -->

        </div>

    </main>
</div>

@section Scripts{

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}