﻿@model DogoStore.Entities.ViewModel.Product.ProductViewModel

@{
    ViewData["Title"] = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <main role="main" class="pb-3">

        <div class="col-md-12">
            <span class="anchor" id="formUserEdit"></span>
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Ürün Detay</h3>
                </div>
                <div class="card-body">
                    <article class="card-body p-5">
                        <input type="hidden" value="@Model.ProductId" id="hdnProductId" />
                        <input type="hidden" value="@Model.ProductPrice" id="hdnPrice" />

                        <h3 class="title mb-3">@Model.ProductName</h3>

                        <p class="price-detail-wrap">
                            <span class="price h3 text-warning">
                                <span class="currency"></span><span class="num">@Model.ProductPrice ₺</span>
                            </span>
                        </p>

                        <dl class="param param-feature">
                            <dt>Stok Kodu #</dt>
                            <dd>@Model.ProductStockCode</dd>
                        </dl>

                        <dl class="param param-feature">
                            <dt>Stok </dt>
                            <dd>@Model.ProductStock</dd>
                        </dl>

                        <dl class="param param-feature">
                            <dt>Kategori</dt>
                            <dd>@Model.CategoryName</dd>
                        </dl>

                        <div class="row">
                            <div class="col-sm-5">
                                <dl class="param param-inline">
                                    <dt>Adet: </dt>
                                    <dd>
                                        <select id="select_quantity" class="form-control form-control-sm" style="width:70px;">
                                            <option> 1 </option>
                                            <option> 2 </option>
                                            <option> 3 </option>
                                            <option> 4 </option>
                                            <option> 5 </option>
                                            <option> 6 </option>
                                        </select>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <hr>

                        <a href="#" id="addToCard" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> Sepete ekle</a>

                    </article>
                </div>
            </div>

        </div>

    </main>
</div>

@section Scripts{
    <script src="~/js/custom-add-basket.js"></script>
}


