﻿@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model IEnumerable<DogoStore.Entities.ViewModel.Product.ProductViewModel>

<div class="container">
    <main role="main" class="pb-3">

        <div class="col-md-12">
            <span class="anchor" id="formUserEdit"></span>
            <!-- form user info -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Ürün Listesi</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Ürün adı</th>
                                <th scope="col">Ürün türü</th>
                                <th scope="col">Stok sayısı</th>
                                <th scope="col">Fiyatı</th>
                                <th scope="col">#</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr id="tr_@item.ProductId">
                                    <th scope="row">@item.ProductName</th>
                                    <td>@item.CategoryName</td>
                                    <td>@item.ProductStock</td>
                                    <td>@item.ProductPrice</td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" href="/Product/Edit?Id=@item.ProductId"><i class="fas fa-edit"></i> Düzenle</a>
                                        <a class="btn btn-sm btn-success" href="/Product/Detail?Id=@item.ProductId"><i class="fas fa-align-justify"></i> Detay</a>
                                        <a class="btn btn-sm btn-danger removeProduct" data-id="@item.ProductId" href="#"><i class="fas fa-trash-alt"></i> Sil</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                    <div class="clearfix"></div>
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }),
                    new X.PagedList.Mvc.Common.PagedListRenderOptions
                    {
                        DisplayItemSliceAndTotal = true,
                        ContainerDivClasses = new[] { "navigation" },
                        LiElementClasses = new[] { "page-item" },
                        PageClasses = new[] { "page-link" },
                    })

                </div>
            </div>
        </div>
    </main>
</div>


@section Scripts{

    <script src="~/lib/fontawesome/js/all.min.js"></script>
    <link href="~/lib/sweetalert2/css/sweetalert2.css" rel="stylesheet" />
    <script src="~/lib/sweetalert2/js/sweetalert2.js"></script>
    <script src="~/js/custom-delete.js"></script>
    <script>
        $(document).ready(function () {
            $('ul.pagination > li.disabled > a').addClass('page-link');
        });
    </script>
}

