﻿@model DogoStore.Entities.ViewModel.Product.ProductViewModel

@if (Model != null)
{
    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" asp-for="ProductCategoryId" id="ProductCategoryId" />

}

<div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Ürün İsim</label>
    <div class="col-lg-9">
        <input class="form-control" asp-for="ProductName" type="text">
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Ürüm Kategori</label>
    <div class="col-lg-9">
        <select asp-for="SelectedCategory.ProductCategoryId" id="SelectProductCategoryId" asp-items="@(new SelectList(Model.Categories,"ProductCategoryId","CategoryName",Model.SelectedCategory))" class="form-control"></select>
    </div>
</div>
<div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Ürün Fiyat</label>
    <div class="col-lg-9">
        <input class="form-control" asp-for="ProductPrice" type="text">
    </div>
</div>
<div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Ürün Stok</label>
    <div class="col-lg-9">
        <input class="form-control" asp-for="ProductStock" type="text">
        <span asp-validation-for="ProductStock" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Ürün Stok Kodu</label>
    <div class="col-lg-9">
        <input class="form-control" asp-for="ProductStockCode" type="text">
        <span asp-validation-for="ProductStockCode" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Ürün Anasayfa mı ?</label>
    <div class="col-lg-9">


        <input type="radio" value="True" asp-for="IsHome" id="IsHomePageTrue" /> Evet<br />
        <input type="radio" value="False" asp-for="IsHome" id="IsHomePageFalse" /> Hayır<br />
    </div>
</div>
<div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label"></label>
    <div class="col-lg-9">
        <input type="reset" class="btn btn-secondary" value="İptal">
        <input type="submit" class="btn btn-primary" value="Kaydet">
    </div>
</div>

