﻿@model IEnumerable<DogoStore.Entities.ViewModel.Product.ProductViewModel>

@foreach (var item in Model)
{
    <tr>
        <th scope="row">@item.ProductName</th>
        <td>@item.CategoryName</td>
        <td>@item.ProductStock</td>
        <td>@item.ProductPrice</td>
        <td>
            <a class="btn btn-sm btn-success" href="/Product/Detail?Id=@item.ProductId"><i class="fas fa-align-justify"></i> Detay</a>
        </td>
    </tr>
}
