﻿<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Anasayfa</a>
    <a href="/Product/Index">Ürün Listesi</a>
    <a href="/Basket/Index">Sepet</a>
    <a href="/User/LogOut">Çıkış Yap</a>
</div>